/* Shared Fonts */
@font-face {
    font-family: "Victorian Orchid Light";
    src: url("fonts/victorian-orchid-light.woff2") format("woff2"),
        url("fonts/victorian-orchid-light.woff") format("woff");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victorian Orchid SemiBold";
    src: url("fonts/victorian-orchid-semibold.woff2") format("woff2"),
        url("fonts/victorian-orchid-semibold.woff") format("woff");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Victorian Orchid Italic";
    src: url("fonts/victorian-orchid-italic.woff2") format("woff2"),
        url("fonts/victorian-orchid-italic.woff") format("woff");
    font-weight: 400;
    font-style: italic;
    font-display: swap;
}
/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body & Typography */
body {
    font-family: "Victorian Orchid Light", serif;
    color: black;
    line-height: 1.6;
    background-image: url("img/page-background.png");
    background-repeat: repeat;
    background-position: top center;
    background-size: 100% auto;
    background-color: #fff;
}

@media (max-width: 768px) {

    body {
        background-size: 170% auto;
    }
}

h1 {
    font-family: Victorian Orchid SemiBold, serif;
    font-weight: normal;
    margin-bottom: 20px;
    font-variant: small-caps;
    background: -webkit-linear-gradient(180deg, rgba(217, 9, 23, 1) 0%, rgba(0, 3, 16, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 50px;
}

h2 {
    font-family: Victorian Orchid SemiBold, serif;
    font-weight: normal;
    margin-top: 35px;
    margin-bottom: 20px;
    font-variant: small-caps;
    background: -webkit-linear-gradient(180deg, rgba(217, 9, 23, 1) 0%, rgba(0, 3, 16, 1) 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 30px;
}

@media (max-width: 768px) {

    h1 {
        font-size: 60px;
        line-height: 1.2;
    }

    h2 {
        font-size: 40;
        line-height: 1.5;
    }

    ul {
        margin-left: 30px;
    }
}
p {
    font-weight: lighter;
    margin-bottom: 20px;
    color: black;
}

a {
    color: rgb(23, 49, 163);
}

ul {
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}

li {
    margin-bottom: 10px;
}

/* Header */
header {
    position: fixed;
    top: 1px;
    left: 0;
    width: 100%;
    padding: 2px 40px;
    padding-top: 6px;
    z-index: 1000;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background: #000310;
    background: linear-gradient(90deg, rgba(0, 3, 16, 1) 65%, rgba(217, 9, 23, 1) 100%);
    outline: rgb(187, 187, 151) solid 1px;
    box-sizing: border-box;
}

header a {
    color: white;
    text-decoration: none;
    font-size: 14px;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 20px;
}

.social-icons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.company-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.company-logo img {
    width: auto;
    height: 12px;
    opacity: 0.8;
    margin-bottom: 6px;
}

.header-actions {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-left: 40px;
}

.social-icons img {
    width: auto;
    height: 17px;
    opacity: 0.8;
    transition: transform 0.2s ease;
}

.social-icons a:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.header-actions img {
    width: auto;
    height: 40px;
    opacity: 0.9;
    transition: transform 0.2s ease;
}

header a img {
    width: auto;
    height: 20px;
    transition: transform 0.2s ease;
}

header a:hover img {
    opacity: 1;
    transform: scale(1.1);
}

.company-logo {
    height: 35px;
}

.company-logo a:hover img {
    opacity: 1;
    transform: scale(1);
}

/* Footer */
.site-footer {
    position: static;
    z-index: 100;
    left: 0;
    width: 100%;
    padding: 10px;
    padding-top: 30px;
    text-align: center;
    font-size: 14px;
    background: linear-gradient(90deg, rgba(0, 3, 16, 1) 65%, rgba(217, 9, 23, 1) 100%);
    border-top: rgb(187, 187, 151) solid 1px;
    bottom: 1px;
}

.site-footer a {
    color: silver;
    text-decoration: none;
}

.site-footer a:hover {
    color: white;
}

.footer-separator {
    margin: 0 10px;
}

.footer-fontcolor {
    color: silver;
}

/* Responsive */
@media (max-width: 768px) {
    header {
        padding: 5px 10px;
    }
    .social-icons {
        gap: 12px;
    }
    .company-logo img {
        height: 10px;
    }
    .header-left {
        flex-direction: column;
        align-items: flex-start;
        gap: 0px;
    }
    .social-icons img {
        height: 15px;
        width: auto;
        padding-left: 10px;
    }

    .header-actions img {
        height: 25px;
        width: auto;
    }

    .header-actions {
        flex-direction: column;
        align-items: flex-end; /* keeps them aligned to the right */
        gap: 0px;
        margin-left: 0;
    }

    h1 {
        font-size: 36px;
    }

    h2 {
        font-size: 22px;
    }
}
